@import "variables";
@import "animation";
@import "mixins";
* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100vh;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $oppositeMajorColor;
}

//preloader
.preloader {
  position: fixed;

  width: 100vw;
  height: 100vh;
  background-color: $appMajorColor;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: $oppositeMajorColor;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 2.1em;
  }
}
//preloader ending

//header
#header {
  margin-left: -420px;
  user-select: none;
  .header {
    display: flex;
    flex-direction: column;

    color: $oppositeMajorColor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    width: 100vw;
    background-image: linear-gradient(
      to top right,
      lighten($appMajorColor, 6),
      $appMajorColor
    );
  }

  .blctotalcontainer {
    height: 27vh;
    width: 82vw;
    background-image: linear-gradient(
      to top right,
      lighten($appMajorColor, 6),
      $appMajorColor
    );
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.808),
      4px 3px 7px 1px rgba(14, 13, 13, 0.801);
    .balanceandtotalcontainer {
      margin: 0;
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-bottom-left-radius: 4vw;
      border-bottom-right-radius: 4vw;
      box-shadow: inset -4px -4px 5px rgba(14, 13, 13, 0.863),
        inset 4px 4px 7px 1px rgba(14, 13, 13, 0.863);
      height: 25vh;
      width: 80vw;

      background-color: $oppositeMajorColor;

      //balance div
      .balancediv {
        @include balanceAndIncomeStyleForDiv;
        .balance {
          @include balanceAndIncomeDivAndH1Style(balancee);
        }
        .balance-value {
          @include balanceAndIncomeStyleForValues;
          .balance-number {
            font-size: 1.2em;
          }
        }
      } //balance div end

      //income div
      .incomediv {
        @include balanceAndIncomeStyleForDiv;

        .income-value {
          @include balanceAndIncomeStyleForValues;
          .income-number {
            font-size: 1.2em;
          }
        }

        .incomee {
          @include balanceAndIncomeDivAndH1Style(income);
        }
      } //income div end
    }
  } //blctotalcontainer end
} //#header end

//shoulder down
.shoulder-down {
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 100vw;

  .incomeandexpensecontainer {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    $container-height: 190vh;
    height: $container-height;
    padding: 0;

    .income-container {
      height: 55vh;
      width: 100vw;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .expense-container {
      height: 55vh;
      width: 100vw;
      position: absolute;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .list {
      margin-top: 1.8vh;
      width: 82vw;
      height: 8vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 3vw;
      color: lighten($oppositeMajorColor, 6);
      background-color: $appMajorColor;
      .titleNamount {
        width: 55vw;
        .title {
          height: 3.4vh%100vh;
          font-size: 1.1em;

          background: none;
          border-style: none;
          outline: none;
          color: lighten($oppositeMajorColor, 6);
        }
      }

      .editNdelete {
        @include editAndDeleteBottonStyle;
      }
    }
  }

  //nav and button
  .navandbutton {
    display: flex;
    margin-bottom: -100px;
    flex-direction: column;
    position: relative;
    height: 30vh;
    //nav
    .nav {
      user-select: none;
      display: flex;
      transition: ease-in;
      align-items: center;
      justify-content: space-around;

      height: 10vh;
      color: $oppositeMajorColor;
      background-color: $appMajorColor;
      border-top-left-radius: 8vw;
      border-top-right-radius: 8vw;

      .inval {
        visibility: hidden;
        position: absolute;
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .inputtitle {
          width: 70vw;
          height: 50px;
          border-radius: 17px;
          outline: none;
          border: none;
          box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.897),
            inset 4px 3px 7px 1px rgba(14, 13, 13, 0.801);
          padding-left: 10px;
          padding-right: 10px;
          font-size: 5vw;
          color: $appMajorColor;
        }
        .gobtn {
          height: 40px;
          width: 40px;
          margin-left: 10px;
          border-radius: 100%;
          border: none;
          outline: none;
          background-color: rgb(10, 88, 139);
          color: $oppositeMajorColor;
          box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.549),
            4px 3px 7px 1px rgba(14, 13, 13, 0.549);
        }
      }

      .expenses {
        @include expenseAndIncomeButtonStyle;
      }
      .income {
        @include expenseAndIncomeButtonStyle;
      }
      //add income and expense
      .addincomeandexpense {
        display: flex;
        flex-direction: row;
        color: $oppositeMajorColor;

        .expensebotton {
          @include expenseAndIncomeButton;
        }
        .addbutton {
          display: flex;
          box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.897),
            inset 4px 3px 7px 1px rgba(14, 13, 13, 0.801);

          align-self: center;
          width: 50px;
          height: 50px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border-top-left-radius: 100%;
          border-top-right-radius: 100%;
          background-color: lighten($appMajorColor, 2);
          .plus {
            user-select: none;
            pointer-events: none;
            color: $oppositeMajorColor;
            font-family: Roboto;
            font-style: normal;
            font-weight: 1000;
            font-size: 40px;
            line-height: 50px;
          }
        }

        .incomebotton {
          @include expenseAndIncomeButton;
        }
      } //add income and expense
    } //nav end
  } //nav and button end
} //shoulder down end
