@import "variables";

@mixin balanceAndIncomeStyleForDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin balanceAndIncomeDivAndH1Style($type) {
  color: rgb(10, 88, 139);
  display: flex;
  @if $type == "income" {
    margin-bottom: 7px;
  }
  @if $type == "balancee" {
    margin-top: 7px;
  }

  width: 70vw;

  justify-content: center;
  background-color: rgba(33, 122, 182, 0);
  border-bottom-left-radius: 4vw;
  border-bottom-right-radius: 4vw;
}
@mixin balanceAndIncomeStyleForValues {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  background-color: $appMajorColor;
  border-radius: 8px;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.897),
    inset 4px 3px 7px 1px rgba(14, 13, 13, 0.801);
}

@mixin expenseAndIncomeButtonStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 110px;
  font-size: 2.7vw;
  border-radius: 10px;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.549),
    4px 3px 7px 1px rgba(14, 13, 13, 0.549);
  background-color: lighten($appMajorColor, 2);
}

@mixin expenseAndIncomeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  margin-top: 10px;
  width: 40px;
  height: 30px;
  background-color: $appMajorColor;
  border-radius: 4px;
  visibility: hidden;
}

@mixin editAndDeleteBottonStyle {
  width: 20vw;
  display: flex;
  justify-content: space-between;
}
